.block {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 34px rgba(0,0,0,.4);
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
    justify-content: center;
}

.block button {
    height: 30px;
    width: 150px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    border-radius: 100px;
    border-width: 0px;
    margin-bottom: 60px;
}

/* Sign-Up Container Style */
.signup-container {
    background-color: rgb(255,255,255);
    display: flex;
    flex-grow: .75;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 138px 0px;
    color: #FFBD59;
}

.signup-container button {
    background-color: #25BDBE;
    color: white;
}

/* Login Container Style */
.login-container {
    background-color: #25BDBE;
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", Arial, sans-serif;
    align-items: center;
}

.login-form h1{
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 100;
    color: white;
    margin: 75px 0px 75px 0px;
    padding-top: 10px;
}

.welcome {
    font-weight: 500;
    color: #e1e29e;
    padding-bottom: 20px;
}

.login-form .password {
    font-weight: 400;
    font-size: small;
    color: #ffffffce;
}

.login-form input {
    border: none;
    border-bottom: 1px solid #0e6464; 
    height: 30px;
    width: 100%;
    background-color: #25bebe;
    font-family: "Montserrat", Arial, sans-serif;
}

.login-form input::placeholder {
    color: #ffffffce;
}

/* Home Page Style */
.image-banner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}

.image-banner img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-family: "Montserrat", Arial, sans-serif;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay-text h1 {
    font-family: "Ubuntu", Arial, sans-serif;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan p {
    margin: 5px;
    font-size: 20px;
}

.panel-1 {
    display: flex;
    width: 50%;
    margin: 100px 0px 50px 175px;
    align-items: center;
}

.welcome-text h1 {
    color: #0097B2;
}

.woman-smiling-image {
    clip-path: circle();
}