/* Font refactor */
.profile-block, .profile-block button, .editform-buttons, .edit-text-fields input, .cancel-button {
    font-family: "Montserrat", Arial, sans-serif;
}

/* Flex-box refactor */
.form-popup, .edit-form, .edit-text-fields, .image-button, .settings-modal, .birthday-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Text color - white refactor */
.profile-block button, .edit-form, .ai-toggle, .cancel-button:hover {
    color: white;
}

/* Profile page style */
.profile-block {
    margin-top: 75px;
    margin-left: 750px;
}

.profile-block button {
    height: 30px;
    width: 150px;
    font-weight: 500;
    border-radius: 100px;
    border-width: 0px;
    margin-bottom: 60px;
    background-color: #25BDBE;
}

.profile-block button:hover {
    background-color: #0097B2;
}

.profile-intro {
    display: flex;
    align-items: center;
    gap: 50px;
}

.image-button {
    gap: 20px;
}

.information-section{
    margin-left: 25px;
    margin-top: -40px;
}

/* Profile edit form style */
.form-popup {
    box-shadow: 0 5px 34px rgba(0,0,0,.4);
    border-radius: 10px;
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
    justify-content: center;
    background-color: #25bebeea;
}

.edit-form {
    padding: 30px;
    font-size: large;
}

.editform-buttons {
    height: 30px;
    width: 150px;
    font-weight: 500;
    border-radius: 100px;
    border-width: 0px;
    margin-bottom: 20px;
    background-color: #FFDE59;
}

.editform-buttons:hover {
    background-color: #FFBD59;
    color: white;
}

.edit-text-fields {
    margin: 20px;
}

.edit-text-fields input {
    border: none;
    border-bottom: 1px solid #363636; 
    height: 30px;
    width: 120%;
    background-color: #7ddbdbd0;
    margin-bottom: 13px;
}

.edit-radio-buttons {
    display: flex;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
}

.edit-radio-buttons input {
    margin-left: 10px;
}

/* Settings modal style */
.settings-modal {
    box-shadow: 0 5px 34px rgba(0,0,0,.4);
    border-radius: 10px;
    position: absolute;
    width: 40%;
    top: 25%;
    left: 28%;
    justify-content: center;
    background-color: #25bebeea;
    padding: 30px;
}

.ai-toggle {
    display: flex;
    gap: 10px;
    font-weight: 600;
    margin-bottom: 25px;
}

.cancel-button {
    height: 30px;
    width: 150px;
    font-weight: 500;
    border-radius: 100px;
    border-width: 0px;
    margin-bottom: 20px;
    background-color: #FFDE59;
}

.cancel-button:hover {
    background-color: #FFBD59;
}

.birthday-container p {
    margin-bottom: -10px;
    margin-top: -10px;
}

.birthday-container {
    margin-bottom: 15px;
}