.block {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 34px rgba(0,0,0,.4);
    position: absolute;
    width: 50%;
    top: 25%;
    left: 25%;
    justify-content: center;
}

.block button {
    height: 30px;
    width: 150px;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    border-radius: 100px;
    border-width: 0px;
    margin-bottom: 60px;
}

/* Sign-Up Container Style */
.signup-container {
    background-color: rgb(255,255,255);
    display: flex;
    flex-grow: .75;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 138px 0px;
    color: #FFBD59;
}

.signup-container button {
    background-color: #25BDBE;
    color: white;
}

/* Login Container Style */
.login-container {
    background-color: #25BDBE;
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", Arial, sans-serif;
    align-items: center;
}

.login-form h1{
    font-family: "Ubuntu", Arial, sans-serif;
    font-weight: 100;
    color: white;
    margin: 75px 0px 75px 0px;
    padding-top: 10px;
}

.welcome {
    font-weight: 500;
    color: #e1e29e;
    padding-bottom: 20px;
}

.login-form .password {
    font-weight: 400;
    font-size: small;
    color: #ffffffce;
}

.login-form input {
    border: none;
    border-bottom: 1px solid #0e6464; 
    height: 30px;
    width: 100%;
    background-color: #25bebe;
    font-family: "Montserrat", Arial, sans-serif;
}

.login-form input::placeholder {
    color: #ffffffce;
}